<!DOCTYPE html>
<html lang="en">
{% extends "menu.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Путевые</title>
</head>
<body>

<div class="my-flex-container">

<ul class="category-list">
  <li><a href="">Объект раз</a><span>5</span></li>
  <li><a href="">Объект два</a><span>3</span></li>
  <li><a href="">Объект три</a><span>2</span></li>
  <li><a href="">Объект длинннный шо пиздец с 124 регионом</a><span>2</span></li>
</ul>


<table>
  <thead>
    <tr>
      <td>Дата путевого</td>
      <td>Имя объекта</td>
      <td>Начало</td>
      <td>Конец</td>
      <td>Нач.уров.(П)</td>
      <td>Нач.уров.(СМТ)</td>
      <td>Кон.уров.(П)</td>
      <td>Кон.уров.(СМТ)</td>
      <td>Заправка(П)</td>
      <td>Заправка(В)</td>
      <td>Расход(П)</td>
      <td>Расход(СМТ)</td>
      <td>Расход(Факт)</td>
    </tr>
  </thead>
  <tbody>
     {% for travel in travels %}
        <tr>
          <td>{{ travel.date_p.strftime("%d-%m-%Y %H:%M:%S")}}</td>
          <td>{{ travel.name_object }}</td>
          <td>{{ travel.start_time }}</td>
          <td>{{ travel.end_time }}</td>
          <td>{{ travel.start_fuel_p }}</td>
          <td>{{ travel.start_fuel_w }}</td>
          <td>{{ travel.end_fuel_p }}</td>
          <td>{{ travel.end_fuel_w }}</td>
          <td>{{ travel.fuel_up_p }}</td>
          <td>{{ travel.fuel_up_w }}</td>
          <td>{{ travel.consum_p }}</td>
          <td>{{ travel.consum_w }}</td>
          <td>{{ travel.consum_f }}</td>
         </tr>
     {% endfor %}
  </tbody>
</table>
</div>
</body>
{% endblock %}
</html>